html, body {
    background-color: #FFCF5A;
}

.flex {
    display: flex;
    justify-content: center;
    background-color: #FFCF5A;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'BioRhyme', serif;
}

h1, h3 {
    color: #C66AFF;
}

h2 {
    color: rgb(255, 89, 38);
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #42007F;
    font-size: 16px;
    line-height: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

nav, footer {
    width: 100%;
}

/*main navigation start*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #3DFCE8;
}
  
.menu {
    float: left;
    width: 33.333333333333333333333333%;
    font-family: 'BioRhyme', serif;
    background-color: #3DFCE8;
}
  
.links {
    font-size: 16px;
    display: block;
    color: rgb(255, 118, 38);
    text-align: center;
    text-decoration: none;
    background-color: #3DFCE8;
}

.links:hover {
    color: #42007F;
    background-color: rgb(252, 38, 95);
}
/*main navigation end*/

/*home project start*/
.cards {
    display: grid;
    grid-template-columns:repeat(auto-fit, 310px);
    grid-gap: 20px;
    justify-content: center;
}

.project {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    margin-bottom: 30px;
    border-style: dotted;
    border-color: magenta;
    padding: 7px;
}

.project img {
    object-fit: cover;
    justify-self: center;
    width: 100%;
    height: 100%;
}
/*home project start*/

/*about me start*/
:root {
    --blur: 10px;
}

.controls {
    margin-left: 10%;
    margin-right: 10%;   
    margin-bottom: 20px;
}

input {
    width: 20%;
}

.myphoto {
    filter: blur(var(--blur));
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 221px;
    width: 170px;
    border-radius: 30%;
}
/*about me end*/



/*form start*/
form {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

label {
    color: rgb(255, 89, 38);
    font-family: 'Montserrat', sans-serif;
}

input {
    width: 100%;
    height: 32px;
    text-align: start;
}

button {
    min-width: 48px;
    min-height: 48px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    background-color: #40547C;
    padding: 8px 17px 10px 17px;
}

#submit {
    background-color: #5AA91F;
}

#reset {
    background-color: #BF1F00;
}
/*  
button:hover {
  animation-name: background-color;
  animation-duration: 2.5s;
}
  
@keyframes background-color {
  0% {
    background-color: #40547C;
  }
  20% {
    background-color: #5AA91F;
  }
  40% {
    background-color: #F74587;
  }
  60% {
    background-color: #3BAD00;
  }
  80% {
    background-color: orangered;
  }
  100% {
    background-color: purple;
  }
}
*/
/*form end*/

/*contact me social media start*/
.social {
  background-color: #FFCF5A;
}

.fa {
    margin: 2px;
    padding: 15px;
    font-size: 60px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-github {
    background: black;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
/*contact me social media end*/

/*footer start*/
footer {
    background-color: #3DFCE8;
    color: rgb(255, 118, 38);
    font-family: 'BioRhyme', serif;
    font-size: 16px;
}
/*footer end*/

/*media query start*/
@media screen and (min-width: 410px) {
    input {
        width: 400px;
        height: 32px;
    }

}
@media screen and (min-width: 500px) {
    .pLarge {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 60px;
    }
    
    h2 {
        font-size: 38px;
    }
    
    h3 {
        font-size: 28px;
    }

    .pLarge {
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

    ul {
        height: 30px;
    }

    .links {
        font-size: 30px;
    }
}
/*media query end*/