html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

.container {
    display: flex;
    flex-wrap: wrap;
  }

.box {
    width: 100%;
  }

h1, h2, h3 {
      text-align: center;
      color: #f70757
  }



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: tomato;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: salmon;
  }

.title, .about, .hobbies {
    background-color: #fff;
  }

footer {
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px 10px 20px;
  }

@media screen and (min-width: 550px) {
    .title {
      width: 33%;
      }
    .about {
      width: 67%;
    }
}
 
@media screen and (min-width: 800px) {
    .container {
      width: 950px;
      margin-left: auto;
      margin-right: auto;
    }
}

/* Save below for the "Contact" page
  #social {
    float: right;
  }

.fa {
    margin: 2px;
    padding: 10px;
    font-size: 60px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-github {
    background: black;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  Save above for the "Contact" page*/

.myphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 221px;
    width: 170px;
    border-radius: 30%;
    border-color: rgb(51, 49, 49);
    border-width: 3px;
    border-style: solid;
}

.photos {
    height: 115px; 
    width: 115px;
    border-radius: 50%;
}